.header {
    height: 20%;
    width: 100%;
    background-color: gray;
    top: 0px;
    position: fixed
}

body {
}



.navigation {
    height: 60%;
    width: 20%;
    background-color: orange;
    top: 20%;
    position: fixed;
}

.content {
    top: 20%;
    height: 60%;
    width: 75%;
    left: 20%;
    position: fixed;
    background-color: lightblue;
}

.footer {
    height: 20%;
    width: 100%;
    background-color: gray;
    position: fixed;
    bottom: 0px
}
